.jumbotron {
		background-color: transparent !important;
		background: black !important;
		color: #ffffff !important;
		opacity: 0.8;
}

.well {

  background-image: transparent !important;
  background-color: #5496D7 !important;
  color: #ffffff;
  opacity: .8;
  float: bottom;

}

.selectType {
	color: black;
}